/* mobile styles */

	body {
		background: #fff;
		color: #222;
		font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
		font-size: 14px;
		margin: 0;
		padding: 0;
	}
	div {
		clear: both!important;
		float: none!important;
		width: 100%!important;
	}
	img {
		max-width: 100%;
		height: auto;
	}

	#header_wide {
		background-color: #740e1c;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#740e1c), to(#a31a2f));
		border-color: #222;
		border-style: solid;
		border-width: 0 0 1px 0;
	}
	#header_wrapper {
		width: 100%;
	}
	#logo {
		padding: 10px 0;
	}
	#logo a {
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		margin: 0 auto;
		text-decoration: none;
		width: 100%;
	}
	#menu {
		display: none;
	}
	
	#main {
		padding: 5px 0;
		width: 100%;
	}
	#content {
		padding: 0 5px;
		width: 100%;
	}
	.image {
		float: none;
		padding: 0;
		width: 100%;
	}
	.calltoaction {
		float: none;
		padding: 0;
		width: 100%;
	}
	h1 {
		font-size: 20px;
		padding: 10px 0;
		width: 100%;
	}
	.text {
		font-size: 14px;
		padding-bottom: 10px;
	}
	#mc_embed_signup {
		width: 100%;
	}
	#thefacebook {
		display: none;
	}
	.archives {
		display: none;
	}
	.todaysemail {
		float: none;
		padding: 0;
		width: 100%;
	}
	ul, ol {
		margin-left: 15px;
	}

	footer {
		display: none;
	}
	
	.center {
		width: 100% !important;
		text-align: center;
	}

/* iPhone-specific styles */
@media only screen and (max-device-width: 480px) {

	html {
		-webkit-text-size-adjust: none;
	}

}
