/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #5C98FF; color:#fff; text-shadow: none; }
::selection { background:#5C98FF; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #5C98FF; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Kevin Burke
 */
@font-face {
	font-family: '{{ site["font_name"] }}';
	src: url('{{ site["font_file_name"] }}');
	src: local('☺'), url('{{ site["font_woff_name"] }}') format('woff'), url('{{ site["font_ttf_name"] }}') format('truetype'), url('{{ site["font_svg_name"] }}') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
    background: url("/static/bgpattern.png");
    margin-left:-1px;
}

body {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    background:url("/static/dropshadow.png") center repeat-y;
    min-width:1000px;
    margin: 0 auto;
    min-height:100%;
    height: auto !important;
    height:100%;
}

b {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#main{
    padding-top:15px;
    padding-bottom:30px;
    width:1000px;
    margin:0 auto;
}

#content{
    width:940px;
    padding: 0px 30px;
}

.product {
    margin:15px 0px;
}

.faq{
    padding:0px 30px;
    width:35em;
}

#header_wide{
    background-color: {{ site['color'] }};
    background: -webkit-gradient(linear, 0 0, 0 100%, from({{ site['color'] }}), to({{ site['litecolor'] }}));
    background: -moz-linear-gradient(top, {{ site['color'] }}, {{ site['litecolor'] }} 100%);
    height:90px;
    min-width:1000px;
}

#header_wrapper{
  width:960px;
  margin:0 auto;
  position:relative;
}

#logo{
    padding-top:30px;
}

#logo a{
    text-decoration:none;
    margin-left:20px;
  font-family:"{{ site['font_name'] }}", Gill Sans, Courier New;
  font-size:28px;
  color:#fff;
  width:350px;
    font-weight:bold;
}


#menu{
    position:absolute;
    top:0;
	right:10px;
    padding-top:36px;
}

#menu a{

    color:#fff;
    padding:0px 20px;
    font-size:16px;
    text-decoration:none;
    font-weight:bold;
}

#menu a:hover, #logo a:hover{
    text-decoration:underline;
    color:{{ site['hover_color'] }};
}

#addevent{
    display:none;
    width:920px;
    padding:20px 20px 15px 20px;
    border-bottom:1px dotted #ccc;
    height:230px;
    margin: 0 auto 0px auto;
    background-color:#fff;
}

#addevent_form{
    margin-right:-8px;
    float:right;
    width:310px;
}

#addevent_form input, #snack_input input{
    height:27px;
    color:#999;
}

#addevent_form input#the_submit, #snack_input input#phone_submit{
    color:#444;
}

#addevent_form textarea{
    height:80px;
    color:#444;
}

#addevent_form td{
    padding:5px 0;
}

#addevent_form .form_text{
    padding:12px 39px 12px 0;
}

#addevent_form input[type=text], #addevent_form textarea{
    width:210px;
    outline:none;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcde), to(#fff));
    background: -moz-linear-gradient(top, #dcdcde, #fff);
    text-shadow:0px 1px 0px #fff;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #717171;
}

#the_count{
    float:right;
    padding:5px;
    font-size:15px;
    color:#444;
}

#the_submit{
    margin-right:8px;
    padding:5px 10px;
    float:right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #717171;
}
.error{
    color:#f00;
}

.success{
    width:940px;
    margin:0 auto;
    text-align:right;
    height: 100px;
    padding-right:20px;
}

.success h1, .success p{
    float:right;
    clear:both;
}
h1{
    font-size:26px;
    padding-bottom:10px;
    width:400px;
}

h3{
  padding-bottom:9px;
  padding-top:9px;
}

.image{
    padding-left:10px;
    float:left;
}

.calltoaction{
  float:left;
  width:440px;
  padding-left:20px;
}

.text{
    font-family:Georgia, Times New Roman, serif; 
    font-size:16px; padding-bottom:20px;
}

iframe .ss-form-title{
  display:none;
}

label, button{
  font-weight:bold;
  line-height:170%;
  font-size:1.05em;
}

.mc-field-group{
    position:relative;
    font-size:20px;
    width:480px;
}

#mc-embedded-subscribe{
    position:absolute;
    top:37px;
    padding-left:20px;
}

.mce-responses{
  display:inline;
}
#mce-EMAIL{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e0e0e0));
    background: -moz-linear-gradient(top, #ffffff, #e0e0e0);
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border:1px solid #717171;
    text-shadow:1px 1px 0px #fff;
    
    padding:6px;
    font-size:21px;
    width: 286px;
}

#mc_embed_signup fieldset{
    width:480px;
}

input[type="submit"]{
  font-size:1.05em;
  padding:2px;
}

.archives {
    clear:left;
    float:left;
    padding-top:15px;
    width:220px;
    padding-left:10px;
}

.todaysemail{
  float:left;
  width:480px;
  padding-left:20px;
  padding-top:20px;
}

.links a{
  padding:20px;
}

#thefacebook{
    display:block;
    clear:both;
    border:none; 
    height:80px;
    margin-left:10px;
    width:500px;
    border-bottom:1px dotted #ccc;
}

h2 {
    font-size:20px;
    padding-bottom:10px;
}

h3{
    font-size:16px;
}

#inbrowser{
    display:none;
}

footer {
    margin:0 auto;
    bottom:0px;
    left:1px;
    width:1000px;
}
* html footer {
    position: absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
#footer_div{
    background-color:{{ site['color'] }};
    width:940px;
    padding:0 10px 0 10px;
    margin:0 20px;
    height:150px;
    -webkit-box-shadow: inset 0 0 10px #212121;
    -moz-box-shadow: inset 0 0 10px #212121;
    box-shadow: inset 0 0 10px #212121;
}

.footer_menu{
    float:left;
    padding:20px 20px 0 20px;
    color:#fff;
}

.footer_menu h6{
    color:#fff;
    border-bottom:1px dotted #ccc;
    padding-bottom:3px;
    margin-bottom:10px;
}
.footer_menu ul {
    list-style-type:none;
    padding:0;
    margin:0;
}
.footer_menu li{
    padding:0;
    margin:0;
}
.footer_menu a{
    text-decoration:none;
    color:#ccc;
}
.footer_menu a:hover{
    text-decoration:underline;
    color:#fc0;
}

.product-attr-custom {
    margin-bottom:20px;
    padding:3px;
}









@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

